{% extends 'base.html.twig' %}

{% set date_format = 'm/Y' %}

{% block content %}
<main
    class="card-body"
>
    {% for experience in experiences %}
    <section
        class="border rounded"
    >
        <h2
            class="d-inline-block h2 text-primary"
        >{{ experience.name }}</h2>
        <h3
            class="d-inline-block h3 text-secondary ml-2"
        >{{ experience.title }}</h2>
        <ul
            class="fa-ul"
        >
            <li>
                <span
                    class="fa-li"
                >
                    <i
                        class="fas fa-map-marker-alt fa-2x"
                    ></i>
                </span>
                <span
                    class="ml-3"
                >{{ experience.location.street }}, {{ experience.location.postalCode }} {{ experience.location.city }}</span>
            </li>
            {% if experience.techs is not empty %}
            <li
                class="mt-3"
            >
                <span
                    class="fa-li"
                >
                    <i
                        class="fas fa-cogs fa-2x"
                    ></i>
                </span>
                <i
                    class="ml-3"
                >{{ experience.techs|join(' ') }}</i>
            </li>
            {% endif %}
        </ul>
        <div
            class="text-right"
        >
            <p
                class="d-inline-block m-0 bg-dark rounded text-white p-2"
            >
                <i
                    class="fas fa-calendar-alt fa-2x"
                ></i>
                <span>{{ experience.dateStart|date(date_format) }}</span>
                {% if experience.dateEnd is not null %}
                    <i
                        class="fas fa-arrow-right fa-lg"
                    ></i>
                    <span>{{ experience.dateEnd|date(date_format) }}</span>
                {% endif %}
            </p>
        </div>
    </section>
    {% endfor %}
</main>
{% endblock content %}
