{% import 'macros/macros.html.twig' as macros %}

<main
  id="infos-container"
>
  {{ macros.anchor('infos') }}

  <div
    class="d-flex flex-column flex-md-row justify-content-center"
  >
    <figure
      class="col-auto col-md-6"
    >
      <img
        class="img-fluid"
        src="assets/images/profile.jpg"
        alt="photo"
      />
      <figcaption>
        <h2>{{ infos.firstName }} {{ infos.lastName }}</h2>
      </figcaption>
    </figure>
    <ul
      class="col-auto fa-ul mt-3 mt-md-0"
    >
      <li
        class="mt-3"
      >
        <span
          class="fa-li"
        >
          <i
            class="fas fa-user fa-2x"
          ></i>
        </span>
        <span
          class="ml-3"
        >{{ infos.age }} ans</span>
      </li>
      <li
        class="my-3"
      >
        <span
          class="fa-li"
        >
          <i
            class="fas fa-map-marker-alt fa-2x"
          ></i>
        </span>
        <span
          class="ml-3"
        >{{ infos.location.city }}</span>
      </li>
      <li
        class="my-3"
      >
        <span
          class="fa-li"
        >
          <i
            class="fas fa-at fa-2x"
          ></i>
        </span>
        <a
          class="ml-3"
          href="mailto:{{ infos.email }}"
        >{{ infos.email }}</a>
      </li>
      <li
        class="my-3"
      >
        <span
          class="fa-li"
        >
          <i
          class="fab fa-linkedin fa-2x"
          ></i>
        </span>
        <a
          class="ml-3"
          href="{{ infos.links.linkedin }}"
          target="_blank"
        >{{ infos.links.linkedin }}</a>
      </li>
      <li
        class="my-3"
      >
        <span
          class="fa-li"
        >
          <i
            class="fab fa-github fa-2x"
          ></i>
        </span>
        <a
          class="ml-3"
          href="{{ infos.links.github }}"
          target="_blank"
        >{{ infos.links.github }}</a>
      </li>
    </ul>
  </div>
</main>

<style>
  #infos-container {
    min-height: 100vh;
  }
</style>