{% import 'macros/macros.html.twig' as macros %}

<aside
  class="mt-5"
>
    {{ macros.anchor('projects') }}

  <h2
    class="text-capitalize"
  >projets</h2>
  
  <section
    class="row"
  >
      {% for project in projects %}
        <div
          class="col-12 col-md-6 my-3"
        >
          <article
            class="card border rounded"
          >
            <header
              class="card-header bg-dark text-white h2"
            >{{ project.name }}</header>
            {% if project.imageCustom %}
              <img
                class="img-fluid"
                src="{{ project.image }}"
                alt="{{ project.name }}"
              />
            {% endif %}
            <div
              class="card-body"
            >
              <p>{{ project.description }}</p>
              <table
                class="table table-borderless table-sm"
              >
                <tbody>
                  {% for language in project.languages %}
                    <tr>
                      {% if loop.first %}
                        <th
                          rowspan="{{ project.languages|length }}"
                        >
                          <i
                            class="fas fa-cogs"
                          ></i>
                          Languages
                        </th>
                      {% endif %}
                      <td>
                        <spa
                          class="badge badge-pill"
                          style="background-color: {{ language.color }}"
                        n>{{ language.name }}</span>
                      </td>
                    </tr>
                  {% endfor %}
                  {% for topic in project.topics %}
                    <tr>
                      {% if loop.first %}
                        <th
                          rowspan="{{ project.topics|length }}"
                        >
                          <i
                            class="fas fa-info-circle"
                          ></i>
                          Topics
                        </th>
                      {% endif %}
                      <td>
                        <span
                          class="badge"
                        >{{ topic }}</span>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <footer
              class="card-footer bg-transparent border-top-0 p-0 text-right"
            >
              <div
                class="btn-toolbar d-inline-block"
              >
                <a
                  class="btn btn-dark rounded"
                  href="{{ project.homepage }}"
                  target="_blank"
                  class="{{ project.homepage is null ? 'invisible' : '' }} mr-4"
                >
                  <i
                    class="fas fa-globe fa-3x text-white"
                  ></i>
                </a>
                <a
                  class="btn btn-dark rounded"
                  href="{{ project.repository }}"
                  target="_blank"
                  class="ml-4"
                >
                  <i
                    class="fab fa-github fa-3x text-white"
                  ></i>
                </a>
              </div>
            </footer>
          </div>
        </article>
      </div>
    {% endfor %}
  </div>
</section>
</aside>